---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Installation from "../components/Installation.astro";
import Usage from "../components/Usage.astro";
import ScoringSignals from "../components/ScoringSignals.astro";
import Discovery from "../components/Discovery.astro";
import Patterns from "../components/Patterns.astro";
import AntiPatterns from "../components/AntiPatterns.astro";
import Checklist from "../components/Checklist.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="X Algorithm Skill - Write viral X posts with algorithm knowledge">
  <Header />
  <main>
    <Hero />
    <Installation />
    <Usage />
    <ScoringSignals />
    <Discovery />
    <Patterns />
    <AntiPatterns />
    <Checklist />
  </main>
  <Footer />
</Layout>
